/* ========ROOT======== */
:root {
    /* color */
    --first-color: #83128D;
    --accent-color: #A62AB0;
    --bg-color: #ffffff;
    --text-color: #000000;
    /* font-weight */
    --font-weight-light: lighter;
    --font-weight-normal: normal;
    --font-weight-bold: bold;
    /* font-size */
    --font-h1: 4rem;
    --font-h2: 3.25rem;
    --font-h3: 2.5rem;
    --font-h4: 2rem;
    --font-p: 1.25rem;

}

/* ========DEFAULT======== */
* {
    font-family: 'Open Sans', sans-serif;
    font-weight: var(--font-weight-normal);
    color: #000000;
}

/* ----Text---- */
h1 {
    font-size: var(--font-h1);
}

h2 {
    font-size: var(--font-h2);
}

h3 {
    font-size: var(--font-h3);
}

h4 {
    font-size: var(--font-h4);
}

p {
    font-size: var(--font-p);
}

strong {
    font-weight: var(--font-weight-bold);
}

/* ----Header---- */

header h1 {
    text-align: center;
    margin-top: 3rem;
}

/* ----Nav---- */
nav {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
  
nav li {
    font-size: var(--font-p);
    margin-right: 20px;
    padding-left: 60px;
    padding-right: 60px;
}
  
nav a {
    color: var(--first-color);
    text-decoration: none;
    padding: 10px 20px;
}

nav i {
    color: var(--first-color);
    font-size: var(--font-h3);
}


nav i:hover {
    color: var(--accent-color);
    
}
  
/* ----Main---- */
main {
    margin-top: 100px;
    position: flex;
}

/* ----Footer */
footer {
    z-index: 100;
    position: absolute;
    bottom: 3em;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer i {
    margin: 0 70px;
    color: var(--bg-color);
    font-size: var(--font-h3);
}

.footer-icons {
    margin: auto;
}

/* ----Link---- */
a {
    color: aquamarine;
}

a:hover {
    color: rgb(61, 197, 197);
}

a:focus {
    color:rgb(0, 132, 255);
}

/* ========HOME======== */ 
#home-page {
    width: 100vw; 
    height: 100vh;
    /* background: linear-gradient(to right bottom, var(--bg-color) 50%, var(--first-color) 50%);
    border: none 0px transparent; */
    overflow: hidden;
}

.custom-shape-divider-bottom-1675267472 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1675267472 svg {
    position: relative;
    display: block;
    width: calc(209% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}

#wave-1 {
    z-index: 2;
}

#wave-2 {
    z-index: 1;
}

#wave-1 .shape-fill {
    fill: var(--first-color);
}

#wave-2 .shape-fill {
    fill: var(--accent-color);
}

/* ========ABOUT======== */

/* ========PORTFOLIO======== */

/* ========CONTACT======== */